# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
logs/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db



# Misc
*.tmp
*.bak


